body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

nav ul {
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0 0.5em;
}

hr {
  border: 0;
  border-top: 1px solid #d9d9d9;
  margin: 2em 0;
}

.notice {
  background: #ebf4ff;
  padding: 1rem;
  border-radius: 0.25rem;
}

.button {
  background: #9f3d3d;
  cursor: default;

  border: 0;
  font-size: 1em;
  border-radius: 0.25rem;
  color: white;
  padding: 0.4em 0.5em;
  text-decoration: none;
}
.button[href] {
  background: #049b61;
  cursor: pointer;
}
